html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
    width: 400px;
    margin: 10% auto;
    background-color: black;
}
.screen {
    color: white;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 20px 5px;
}
button {
    font-size: 3rem;
    padding: 1rem;
}
.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.calc-button {
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
}
.calc-button:hover {
    background-color: #ebebeb;
}
.calc-button:active {
    background-color: #bbbcbe;
}
.double {
    flex-basis: 49.7%;
}
.triple {
    flex-basis: 74.8%;
}
.calc-button:last-child {
    background-color: #df974c;
    color: white;
}
.calc-button:last-child:hover {
    background-color: #dfb07e;
}
.calc-button:last-child:active {
    background-color: #dd8d37;
}